
h1{
  color: #5D473D;
}
input{
  margin: 10px;
  padding: 5px;
  border: 1px solid #6b4141;
  border-radius: 20px;
  width: 200px;
}
button{
  background-color: #EAB384;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border: none;
}
button:hover{
  background-color: #6b4141;
  color: #fff;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid #000;
}
a{
  font-size: 14px;
}
input::placeholder {
  font-size: 10px;
}
form{
  display: flex;
  flex-direction: column;
}
.body-container{
    background-color: #F4F1DE;
}
.login{
  border: 1px solid #6b4141;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-container{
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
}